/************ CLASS SELECTORS****/
.top-container {
  background-color: #a4dfd6;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom:30px;
  position:relative;
  color: #66BFBF;
}

.middle-container {
  padding-top:60px;
  padding-bottom:60px;

}

.bottom-container {
  background-color: #66BFBF;
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Montserrat', sans-serif;

}

.span {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  right: 70%;
  top: 220px;
}

.top-cloud {
  position: absolute;
  right: 20%;
  top: 20px;
}


.RetailMediaIcon{
  width: 15%;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
  border-radius:50%;
}

.BuyingIcon{
  width: 15%;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius:50%;

}

.Matthias-Profile-Img {
  width: 20%;
}



.skill-row{
  width: 60%;
  margin: 100px auto;
  text-align: left;

}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.profile{
  padding-top: 30px;
  padding-bottom: 30px;
}
.skill{
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-me{
  padding-top: 30px;
  padding-bottom: 30px;
  width: 40%;
  margin: auto;
}

.intro{
  width:40%;
  margin:auto;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
}


hr{
border: dotted 8px;
border-bottom: none;
border-color: #EAF6F6;
margin: auto;
width:10%;

}



body {
  margin: 0;
  text-align: center;
font-family: 'Merriweather', serif;


}

p {
  margin: 0;
  line-height: 2;
}

h1 {
  margin: 0;
  margin-top: 50px;
  font-family: 'Sacramento', cursive;
  font-size: 5.5em;
  line-height: 200%;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.0rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
color:  #11999E;
text-decoration: none;
margin: 10px 20px;
}

a:hover {
  color:#EAF6F6;
}
